#banner * {
    /* Default banner showed white text on yellow in our theme */
    color: rgb(67, 66, 64);
}

/* Reduce minimum column width for tables to avoid horizontal scroll */
table td,
table th {
    min-width: auto;
    white-space: normal;
}
