{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenHands Cloud API (V1)",
    "description": "OpenHands Cloud V1 REST API for programmatic access to conversations, sandboxes, and more.\n\n## Authentication\n\nAll API requests require authentication via an API key. Include your API key in the `Authorization` header:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\nOr use the `X-Access-Token` header:\n\n```\nX-Access-Token: YOUR_API_KEY\n```\n\nTo obtain an API key, log in to [OpenHands Cloud](https://app.all-hands.dev) and navigate to Settings > API Keys.\n\n## Rate Limits\n\nIf you have too many conversations running at once, older conversations will be paused. Contact support for higher limits.\n\n## Base URL\n\nProduction: `https://app.all-hands.dev`\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.all-hands.dev",
      "description": "OpenHands Cloud Production"
    }
  ],
  "paths": {
    "/api/v1/conversation/{conversation_id}/events/search": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Search Conversation Events",
        "description": "Search and list events (messages, actions, observations) from a conversation.",
        "operationId": "search_events_api_v1_conversation__conversation_id__events_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Conversation Id"
            }
          },
          {
            "name": "kind__eq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "ServerErrorEvent",
                    "ACPToolCallEvent",
                    "Condensation",
                    "CondensationRequest",
                    "CondensationSummaryEvent",
                    "ConversationErrorEvent",
                    "ConversationStateUpdateEvent",
                    "HookExecutionEvent",
                    "LLMCompletionLogEvent",
                    "ActionEvent",
                    "MessageEvent",
                    "AgentErrorEvent",
                    "ObservationEvent",
                    "UserRejectObservation",
                    "SystemPromptEvent",
                    "TokenEvent",
                    "PauseEvent"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional filter by event kind"
            }
          },
          {
            "name": "timestamp__gte",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional filter by timestamp greater than or equal to"
            }
          },
          {
            "name": "timestamp__lt",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional filter by timestamp less than"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/EventSortOrder",
              "title": "Sort order for results",
              "default": "TIMESTAMP"
            }
          },
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional next_page_id from the previously returned page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "title": "The max number of results in the page",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversation/{conversation_id}/events/count": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Count Events",
        "description": "Count events matching the given filters.",
        "operationId": "count_events_api_v1_conversation__conversation_id__events_count_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Conversation Id"
            }
          },
          {
            "name": "kind__eq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "enum": [
                    "ServerErrorEvent",
                    "ACPToolCallEvent",
                    "Condensation",
                    "CondensationRequest",
                    "CondensationSummaryEvent",
                    "ConversationErrorEvent",
                    "ConversationStateUpdateEvent",
                    "HookExecutionEvent",
                    "LLMCompletionLogEvent",
                    "ActionEvent",
                    "MessageEvent",
                    "AgentErrorEvent",
                    "ObservationEvent",
                    "UserRejectObservation",
                    "SystemPromptEvent",
                    "TokenEvent",
                    "PauseEvent"
                  ],
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional filter by event kind"
            }
          },
          {
            "name": "timestamp__gte",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional filter by timestamp greater than or equal to"
            }
          },
          {
            "name": "timestamp__lt",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional filter by timestamp less than"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "title": "Response Count Events Api V1 Conversation  Conversation Id  Events Count Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversation/{conversation_id}/events": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Batch Get Events",
        "description": "Get a batch of events given their ids, returning null for any missing event.",
        "operationId": "batch_get_events_api_v1_conversation__conversation_id__events_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Conversation Id"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/Event-Output"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "title": "Response Batch Get Events Api V1 Conversation  Conversation Id  Events Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/app-conversations/search": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Search Conversations",
        "description": "Search and list conversations with optional filters. Returns paginated results.",
        "operationId": "search_app_conversations_api_v1_app_conversations_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "title__contains",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by title containing this string"
            }
          },
          {
            "name": "created_at__gte",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by created_at greater than or equal to this datetime"
            }
          },
          {
            "name": "created_at__lt",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by created_at less than this datetime"
            }
          },
          {
            "name": "updated_at__gte",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by updated_at greater than or equal to this datetime"
            }
          },
          {
            "name": "updated_at__lt",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by updated_at less than this datetime"
            }
          },
          {
            "name": "sandbox_id__eq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by exact sandbox_id"
            }
          },
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional next_page_id from the previously returned page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "title": "The max number of results in the page",
              "default": 100
            }
          },
          {
            "name": "include_sub_conversations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "If True, include sub-conversations in the results. If False (default), exclude all sub-conversations.",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppConversationPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/app-conversations/count": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Count Conversations",
        "description": "Get the total count of conversations matching the specified filters.",
        "operationId": "count_app_conversations_api_v1_app_conversations_count_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "title__contains",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by title containing this string"
            }
          },
          {
            "name": "created_at__gte",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by created_at greater than or equal to this datetime"
            }
          },
          {
            "name": "created_at__lt",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by created_at less than this datetime"
            }
          },
          {
            "name": "updated_at__gte",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by updated_at greater than or equal to this datetime"
            }
          },
          {
            "name": "updated_at__lt",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by updated_at less than this datetime"
            }
          },
          {
            "name": "sandbox_id__eq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by exact sandbox_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "title": "Response Count App Conversations Api V1 App Conversations Count Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/app-conversations": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get Conversations by IDs",
        "description": "Retrieve one or more conversations by their IDs. Pass multiple IDs as a comma-separated list.",
        "operationId": "batch_get_app_conversations_api_v1_app_conversations_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Ids"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/AppConversation"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "title": "Response Batch Get App Conversations Api V1 App Conversations Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Start a Conversation",
        "operationId": "start_app_conversation_api_v1_app_conversations_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppConversationStartRequest-Input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppConversationStartTask"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "description": "Create and start a new OpenHands conversation. Returns a start task that can be polled for completion status."
      }
    },
    "/api/v1/app-conversations/{conversation_id}": {
      "patch": {
        "tags": [
          "Conversations"
        ],
        "summary": "Update Conversation",
        "operationId": "update_app_conversation_api_v1_app_conversations__conversation_id__patch",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Conversation Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppConversationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppConversation"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "description": "Update conversation metadata such as title or other properties."
      }
    },
    "/api/v1/app-conversations/stream-start": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Start Conversation with Streaming",
        "description": "Start a new conversation and receive real-time status updates as a streaming response.",
        "operationId": "stream_app_conversation_start_api_v1_app_conversations_stream_start_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppConversationStartRequest-Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AppConversationStartTask"
                  },
                  "type": "array",
                  "title": "Response Stream App Conversation Start Api V1 App Conversations Stream Start Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/app-conversations/start-tasks/search": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Search Start Tasks",
        "description": "Search and list conversation start tasks with optional filters.",
        "operationId": "search_app_conversation_start_tasks_api_v1_app_conversations_start_tasks_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id__eq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by conversation ID equal to this value"
            }
          },
          {
            "name": "created_at__gte",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by created_at greater than or equal to this datetime"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AppConversationStartTaskSortOrder",
              "title": "Sort order for the results",
              "default": "CREATED_AT_DESC"
            }
          },
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional next_page_id from the previously returned page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "title": "The max number of results in the page",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppConversationStartTaskPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/app-conversations/start-tasks/count": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Count App Conversation Start Tasks",
        "description": "Count conversation start tasks matching the given filters.",
        "operationId": "count_app_conversation_start_tasks_api_v1_app_conversations_start_tasks_count_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id__eq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by conversation ID equal to this value"
            }
          },
          {
            "name": "created_at__gte",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by created_at greater than or equal to this datetime"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "title": "Response Count App Conversation Start Tasks Api V1 App Conversations Start Tasks Count Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/app-conversations/start-tasks": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get Start Tasks by IDs",
        "description": "Retrieve the status of conversation start tasks. Use this to poll for conversation readiness.",
        "operationId": "batch_get_app_conversation_start_tasks_api_v1_app_conversations_start_tasks_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "title": "Ids"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/AppConversationStartTask"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "title": "Response Batch Get App Conversation Start Tasks Api V1 App Conversations Start Tasks Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/app-conversations/{conversation_id}/file": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get File from Conversation",
        "description": "Retrieve a file from the conversation's workspace.",
        "operationId": "read_conversation_file_api_v1_app_conversations__conversation_id__file_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Conversation Id"
            }
          },
          {
            "name": "file_path",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Path to the file to read within the sandbox workspace",
              "default": "/workspace/project/PLAN.md"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "title": "Response Read Conversation File Api V1 App Conversations  Conversation Id  File Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/app-conversations/{conversation_id}/skills": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get Conversation Skills",
        "description": "Retrieve the skills loaded for a specific conversation.",
        "operationId": "get_conversation_skills_api_v1_app_conversations__conversation_id__skills_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Conversation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/app-conversations/{conversation_id}/hooks": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get Conversation Hooks",
        "description": "Get hooks currently configured in the workspace for this conversation.\n\nThis endpoint loads hooks from the conversation's project directory in the\nworkspace (i.e. `{project_dir}/.openhands/hooks.json`) at request time.\n\nNote:\n    This is intentionally a \"live\" view of the workspace configuration.\n    If `.openhands/hooks.json` changes over time, this endpoint reflects the\n    latest file content and may not match the hooks that were used when the\n    conversation originally started.\n\nReturns:\n    JSONResponse: A JSON response containing the list of hook event types.\n    Returns an empty list if the sandbox is not running.",
        "operationId": "get_conversation_hooks_api_v1_app_conversations__conversation_id__hooks_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Conversation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/app-conversations/{conversation_id}/download": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Download Conversation Workspace",
        "description": "Download the entire workspace as a zip archive.",
        "operationId": "export_conversation_api_v1_app_conversations__conversation_id__download_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Conversation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/{conversation_id}/pending-messages": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Queue Pending Message",
        "description": "Queue a message for delivery when conversation becomes ready.\n\nThis endpoint allows users to submit messages even when the conversation's\nWebSocket connection is not yet established. Messages are stored server-side\nand delivered automatically when the conversation transitions to READY status.\n\nArgs:\n    conversation_id: The conversation ID (can be task ID before conversation is ready)\n    request: The FastAPI request containing message content\n\nReturns:\n    PendingMessageResponse with the message ID and queue position\n\nRaises:\n    HTTPException 400: If the request body is invalid\n    HTTPException 429: If too many pending messages are queued (limit: 10)",
        "operationId": "queue_pending_message_api_v1_conversations__conversation_id__pending_messages_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Conversation Id"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sandboxes/search": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Search Sandboxes",
        "description": "Search and list sandboxes (execution environments) with optional filters.",
        "operationId": "search_sandboxes_api_v1_sandboxes_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional next_page_id from the previously returned page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "title": "The max number of results in the page",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sandboxes": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Get Sandboxes by IDs",
        "description": "Retrieve one or more sandboxes by their IDs.",
        "operationId": "batch_get_sandboxes_api_v1_sandboxes_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/SandboxInfo"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "title": "Response Batch Get Sandboxes Api V1 Sandboxes Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Create Sandbox",
        "operationId": "start_sandbox_api_v1_sandboxes_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sandbox_spec_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sandbox Spec Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxInfo"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "description": "Create a new sandbox execution environment."
      }
    },
    "/api/v1/sandboxes/{sandbox_id}/pause": {
      "post": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Pause Sandbox",
        "operationId": "pause_sandbox_api_v1_sandboxes__sandbox_id__pause_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sandbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sandbox Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "404": {
            "description": "Item not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "description": "Pause a running sandbox to save resources. The sandbox can be resumed later."
      }
    },
    "/api/v1/sandboxes/{sandbox_id}/resume": {
      "post": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Resume Sandbox",
        "operationId": "resume_sandbox_api_v1_sandboxes__sandbox_id__resume_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sandbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sandbox Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "404": {
            "description": "Item not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "description": "Resume a paused sandbox to continue execution."
      }
    },
    "/api/v1/sandboxes/{id}": {
      "delete": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Delete Sandbox",
        "operationId": "delete_sandbox_api_v1_sandboxes__id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sandbox_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sandbox Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "404": {
            "description": "Item not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sandboxes/{sandbox_id}/settings/secrets": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "List Secret Names",
        "description": "List available secret names (no raw values).\n\nIncludes both custom secrets and provider tokens (e.g. github_token).",
        "operationId": "list_secret_names_api_v1_sandboxes__sandbox_id__settings_secrets_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sandbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sandbox Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretNamesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sandboxes/{sandbox_id}/settings/secrets/{secret_name}": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Get Secret Value",
        "description": "Return a single secret value as plain text.\n\nCalled by ``LookupSecret`` inside the sandbox. Checks custom secrets\nfirst, then falls back to provider tokens \u2014 always resolving the\nlatest token at call time.",
        "operationId": "get_secret_value_api_v1_sandboxes__sandbox_id__settings_secrets__secret_name__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "secret_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Secret Name"
            }
          },
          {
            "name": "sandbox_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Sandbox Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sandbox-specs/search": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Search Sandbox Specs",
        "description": "Search available sandbox specifications (templates/presets).",
        "operationId": "search_sandbox_specs_api_v1_sandbox_specs_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional next_page_id from the previously returned page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "title": "The max number of results in the page",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxSpecInfoPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sandbox-specs": {
      "get": {
        "tags": [
          "Sandboxes"
        ],
        "summary": "Batch Get Sandbox Specs",
        "description": "Get a batch of sandbox specs given their ids, returning null for any missing.",
        "operationId": "batch_get_sandbox_specs_api_v1_sandbox_specs_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/SandboxSpecInfo"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "title": "Response Batch Get Sandbox Specs Api V1 Sandbox Specs Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/settings": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get User Settings",
        "description": "Retrieve the current user's settings and preferences.",
        "operationId": "load_settings_api_v1_settings_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GETSettingsModel"
                }
              }
            }
          },
          "404": {
            "description": "Settings not found",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response 404 Load Settings Api V1 Settings Get"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response 401 Load Settings Api V1 Settings Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Configuration"
        ],
        "summary": "Update User Settings",
        "description": "Update the current user's settings and preferences.",
        "operationId": "store_settings_api_v1_settings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Settings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Settings stored successfully",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response 200 Store Settings Api V1 Settings Post"
                }
              }
            }
          },
          "500": {
            "description": "Error storing settings",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response 500 Store Settings Api V1 Settings Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/secrets/git-providers": {
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Store Provider Tokens",
        "description": "Store git provider tokens.\n\nSaves the git provider tokens (GitHub, GitLab, Bitbucket, etc.) for the authenticated user.\n\nReturns:\n    200: Git providers stored successfully\n    401: Invalid token\n    500: Error storing git providers",
        "operationId": "store_provider_tokens_api_v1_secrets_git_providers_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/POSTProviderModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Secrets"
        ],
        "summary": "Unset Provider Tokens",
        "description": "Unset (delete) all git provider tokens.\n\nRemoves all git provider tokens for the authenticated user.\n\nReturns:\n    200: Git provider tokens unset successfully\n    500: Error unsetting git provider tokens",
        "operationId": "unset_provider_tokens_api_v1_secrets_git_providers_delete",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/secrets": {
      "get": {
        "tags": [
          "Secrets"
        ],
        "summary": "List Secrets",
        "description": "List all custom secrets for the current user. Only secret names are returned, not values.",
        "operationId": "load_custom_secrets_names_api_v1_secrets_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GETCustomSecrets"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Create Secret",
        "description": "Create a new custom secret that can be used in conversations.",
        "operationId": "create_custom_secret_api_v1_secrets_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomSecretModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/secrets/{secret_id}": {
      "put": {
        "tags": [
          "Secrets"
        ],
        "summary": "Update Secret",
        "description": "Update an existing secret's value.",
        "operationId": "update_custom_secret_api_v1_secrets__secret_id__put",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "secret_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Secret Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomSecretWithoutValueModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Secrets"
        ],
        "summary": "Delete Secret",
        "description": "Permanently delete a custom secret.",
        "operationId": "delete_custom_secret_api_v1_secrets__secret_id__delete",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "secret_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Secret Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/git-info": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Current User Git Info",
        "description": "Get the current authenticated user's metadata from the git provider.",
        "operationId": "get_current_user_git_info_api_v1_users_git_info_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGitInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/skills/search": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "Search Skills",
        "description": "Search for available skills that can be used by agents.",
        "operationId": "search_skills_api_v1_skills_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional next_page_id from the previously returned page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "title": "The max number of results in the page",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks/conversations": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "On Conversation Update",
        "description": "Webhook callback for when a conversation starts, pauses, resumes, or deletes.",
        "operationId": "on_conversation_update_api_v1_webhooks_conversations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationInfo-Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/webhooks/events/{conversation_id}": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "On Event",
        "description": "Webhook callback for when event stream events occur.",
        "operationId": "on_event_api_v1_webhooks_events__conversation_id__post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Conversation Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Event-Input"
                },
                "title": "Events"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks/secrets": {
      "get": {
        "tags": [
          "Secrets"
        ],
        "summary": "Get Secret",
        "description": "Given an access token, retrieve a user secret. The access token\nis limited by user and provider type, and may include a timeout, limiting\nthe damage in the event that a token is ever leaked",
        "operationId": "get_secret_api_v1_webhooks_secrets_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/api/v1/web-client/config": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get Web Client Configuration",
        "description": "Retrieve configuration for the web client including feature flags and provider settings.",
        "operationId": "get_web_client_config_api_v1_web_client_config_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebClientConfig"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/git/installations/search": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Search Git Installations",
        "description": "Search for Git provider installations (GitHub, GitLab, Bitbucket) connected to the user's account.",
        "operationId": "search_user_installations_api_v1_git_installations_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProviderType"
            }
          },
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional next_page_id from the previously returned page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "title": "The max number of results in the page",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/git/repositories/search": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Search Repositories",
        "description": "Search for repositories accessible through connected Git providers.",
        "operationId": "search_repositories_api_v1_git_repositories_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProviderType"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Search query for finding repositories. If not provided, returns user repositories."
            }
          },
          {
            "name": "installation_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by installation/app ID"
            }
          },
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional next_page_id from the previously returned page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "title": "The max number of results in the page",
              "default": 100
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/SortOrder"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sort order for search results (e.g., stars-desc, forks-asc)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/git/branches/search": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Search Branches",
        "description": "Search for branches in a specified repository.",
        "operationId": "search_branches_api_v1_git_branches_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProviderType"
            }
          },
          {
            "name": "repository",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Repository name in format owner/repo"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Branch name search query"
            }
          },
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional next_page_id from the previously returned page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "title": "The max number of results in the page",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/git/suggested-tasks/search": {
      "get": {
        "tags": [
          "Git"
        ],
        "summary": "Search Suggested Tasks",
        "description": "Get suggested tasks for the user.\n\nReturns a paginated list of suggested tasks including:\n- PRs owned by the user\n- Issues assigned to the user",
        "operationId": "search_suggested_tasks_api_v1_git_suggested_tasks_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional next_page_id from the previously returned page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "title": "The max number of results in the page",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestedTaskPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/models/search": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Search Available Models",
        "description": "Search and list available LLM models configured on the server.",
        "operationId": "search_models_api_v1_config_models_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Optional next_page_id from the previously returned page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "title": "The max number of results in the page",
              "default": 50
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter models by name (case-insensitive substring match)"
            }
          },
          {
            "name": "verified__eq",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filter by verified status (true/false, omit for all)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LLMModelPage"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get Current User",
        "description": "Retrieve information about the currently authenticated user.",
        "operationId": "get_current_user_saas_api_v1_users_me_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "expose_secrets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "If true, return unmasked secret values (e.g. llm_api_key). Requires a valid X-Session-API-Key header for an active sandbox owned by the authenticated user.",
              "default": false,
              "title": "Expose Secrets"
            },
            "description": "If true, return unmasked secret values (e.g. llm_api_key). Requires a valid X-Session-API-Key header for an active sandbox owned by the authenticated user."
          },
          {
            "name": "x-session-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Session-Api-Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaasUserInfo"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ACPToolCallEvent-Input": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique event id (ULID/UUID)"
          },
          "timestamp": {
            "type": "string",
            "title": "Timestamp",
            "description": "Event timestamp"
          },
          "source": {
            "type": "string",
            "enum": [
              "agent",
              "user",
              "environment",
              "hook"
            ],
            "title": "Source",
            "default": "agent"
          },
          "tool_call_id": {
            "type": "string",
            "title": "Tool Call Id"
          },
          "title": {
            "type": "string",
            "title": "Title"
          },
          "status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status"
          },
          "tool_kind": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Kind"
          },
          "raw_input": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "title": "Raw Input"
          },
          "raw_output": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "title": "Raw Output"
          },
          "content": {
            "anyOf": [
              {
                "items": {},
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "is_error": {
            "type": "boolean",
            "title": "Is Error",
            "default": false
          },
          "kind": {
            "type": "string",
            "const": "ACPToolCallEvent",
            "title": "Kind"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "tool_call_id",
          "title"
        ],
        "title": "ACPToolCallEvent",
        "description": "Event representing a tool call executed by an ACP server.\n\nCaptures the tool name, inputs, outputs, and status from ACP\n``ToolCallStart`` / ``ToolCallProgress`` notifications so they can\nbe surfaced in the OpenHands event stream and visualizer.\n\nThis is *not* an ``LLMConvertibleEvent`` \u2014 ACP tool calls do not\nparticipate in LLM message conversion."
      },
      "ACPToolCallEvent-Output": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique event id (ULID/UUID)"
          },
          "timestamp": {
            "type": "string",
            "title": "Timestamp",
            "description": "Event timestamp"
          },
          "source": {
            "type": "string",
            "enum": [
              "agent",
              "user",
              "environment",
              "hook"
            ],
            "title": "Source",
            "default": "agent"
          },
          "tool_call_id": {
            "type": "string",
            "title": "Tool Call Id"
          },
          "title": {
            "type": "string",
            "title": "Title"
          },
          "status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status"
          },
          "tool_kind": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Kind"
          },
          "raw_input": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "title": "Raw Input"
          },
          "raw_output": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ],
            "title": "Raw Output"
          },
          "content": {
            "anyOf": [
              {
                "items": {},
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content"
          },
          "is_error": {
            "type": "boolean",
            "title": "Is Error",
            "default": false
          },
          "kind": {
            "type": "string",
            "const": "ACPToolCallEvent",
            "title": "Kind"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "tool_call_id",
          "title",
          "kind"
        ],
        "title": "ACPToolCallEvent",
        "description": "Event representing a tool call executed by an ACP server.\n\nCaptures the tool name, inputs, outputs, and status from ACP\n``ToolCallStart`` / ``ToolCallProgress`` notifications so they can\nbe surfaced in the OpenHands event stream and visualizer.\n\nThis is *not* an ``LLMConvertibleEvent`` \u2014 ACP tool calls do not\nparticipate in LLM message conversion."
      },
      "APIBasedCritic": {
        "properties": {
          "server_url": {
            "type": "string",
            "title": "Server Url",
            "description": "Base URL of the vLLM classification service",
            "default": "https://all-hands-ai--critic-qwen3-4b-serve.modal.run"
          },
          "api_key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "password",
                "writeOnly": true
              }
            ],
            "title": "Api Key",
            "description": "API key for authenticating with the vLLM service"
          },
          "model_name": {
            "type": "string",
            "title": "Model Name",
            "description": "Name of the model to use",
            "default": "critic-qwen3-4b"
          },
          "tokenizer_name": {
            "type": "string",
            "title": "Tokenizer Name",
            "description": "HuggingFace tokenizer name for loading chat template",
            "default": "Qwen/Qwen3-4B-Instruct-2507"
          },
          "pass_tools_definitions": {
            "type": "boolean",
            "title": "Pass Tools Definitions",
            "description": "Whether to pass tool definitions to the model",
            "default": true
          },
          "timeout_seconds": {
            "type": "number",
            "title": "Timeout Seconds",
            "description": "Timeout for requests to the model",
            "default": 300.0
          },
          "has_success_label": {
            "type": "boolean",
            "title": "Has Success Label",
            "description": "Whether the model predicts success label at index 0",
            "default": true
          },
          "sentiment_labels": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Sentiment Labels",
            "default": [
              "sentiment_positive",
              "sentiment_neutral",
              "sentiment_negative"
            ]
          },
          "agent_issue_labels": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Agent Issue Labels",
            "default": [
              "misunderstood_intention",
              "did_not_follow_instruction",
              "insufficient_analysis",
              "insufficient_clarification",
              "improper_tool_use_or_setup",
              "loop_behavior",
              "insufficient_testing",
              "insufficient_debugging",
              "incomplete_implementation",
              "file_management_errors",
              "scope_creep",
              "risky_actions_or_permission",
              "other_agent_issue"
            ]
          },
          "infra_labels": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Infra Labels",
            "default": [
              "infrastructure_external_issue",
              "infrastructure_agent_caused_issue"
            ]
          },
          "user_followup_labels": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "User Followup Labels",
            "default": [
              "clarification_or_restatement",
              "correction",
              "direction_change",
              "vcs_update_requests",
              "progress_or_scope_concern",
              "frustration_or_complaint",
              "removal_or_reversion_request",
              "other_user_issue"
            ]
          },
          "sentiment_map": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Sentiment Map",
            "default": {
              "Positive": "sentiment_positive",
              "Neutral": "sentiment_neutral",
              "Negative": "sentiment_negative"
            }
          },
          "mode": {
            "type": "string",
            "enum": [
              "finish_and_message",
              "all_actions"
            ],
            "title": "Mode",
            "description": "When to run critic evaluation:\n- 'finish_and_message': Evaluate on FinishAction and agent MessageEvent (default, minimal performance impact)\n- 'all_actions': Evaluate after every agent action (WARNING: significantly slower due to API calls on each action)",
            "default": "finish_and_message"
          },
          "iterative_refinement": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/IterativeRefinementConfig"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional configuration for iterative refinement. When set, Conversation.run() will automatically retry the task if the critic score is below the success_threshold, up to max_iterations."
          },
          "kind": {
            "type": "string",
            "const": "APIBasedCritic",
            "title": "Kind"
          }
        },
        "type": "object",
        "required": [
          "api_key"
        ],
        "title": "APIBasedCritic"
      },
      "AcceptInvitationRequest": {
        "properties": {
          "token": {
            "type": "string",
            "title": "Token"
          }
        },
        "type": "object",
        "required": [
          "token"
        ],
        "title": "AcceptInvitationRequest",
        "description": "Request model for accepting an invitation via POST."
      },
      "AcceptInvitationResponse": {
        "properties": {
          "success": {
            "type": "boolean",
            "title": "Success"
          },
          "org_id": {
            "type": "string",
            "title": "Org Id"
          },
          "org_name": {
            "type": "string",
            "title": "Org Name"
          },
          "role": {
            "type": "string",
            "title": "Role"
          }
        },
        "type": "object",
        "required": [
          "success",
          "org_id",
          "org_name",
          "role"
        ],
        "title": "AcceptInvitationResponse",
        "description": "Response model for successful invitation acceptance."
      },
      "Action-Input": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/MCPToolAction-Input"
          },
          {
            "$ref": "#/components/schemas/FinishAction-Input"
          },
          {
            "$ref": "#/components/schemas/ThinkAction-Input"
          },
          {
            "$ref": "#/components/schemas/ApplyPatchAction-Input"
          },
          {
[...]
